@model GamePlatform.Personnel.Web.UI.Areas.Editor.Models.GameAddGetVm
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oyun Ekle</h2>

<form id="frm">
    <div class="form-group">
        <label>Yayıncı</label>
        <select class="form-control" name="PublisherId" id="publisher">
            @foreach (var publisher in Model.Companies) {
                <option value="@publisher.Id">@publisher.CompanyName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Yapımcı</label>
        <select class="form-control" name="DeveloperId" id="developer">
            @foreach (var developer in Model.Companies) {
                <option value="@developer.Id">@developer.CompanyName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>İsmi</label>
        <input type="text" name="GameName" value="" class="form-control" id="game-name" />
    </div>
    <div class="form-group">
        <label>Fiyatı</label>
        <input type="text" name="Price" value="" class="form-control" id="price" />
    </div>
    <div class="form-group">
        <label>Kategorileri</label>
        <div id="categories">
            @foreach (var category in Model.Categories) {
                <div class="checkbox">
                    <label><input type="checkbox" value="@category.Id">@category.CategoryName</label>
                </div>
            }
            </div>
    </div>
    <input type="submit" value="Ekle" class="form-control btn btn-success" />
</form>

@section Scripts{
    <script>
        $(document).ready(() => {
            var selectListCategories = $('#categories :input');
            $.each(selectListCategories, (index, element) => {
                element.onchange = function () {
                    if (element.getAttribute("checked") === null)
                        element.setAttribute("checked", "checked");
                    else
                        element.removeAttribute("checked");
                }
            });
        });

        $('#frm').submit(function (e) {
            e.preventDefault();

            var publisher = $('#publisher').val();
            var developer = $('#developer').val();
            var gameName = $('#game-name').val();
            var price = $('#price').val();
            var categories = [];

            var selectListCategories = $('#categories :input');

            $.each(selectListCategories, (index, element) => {
                console.log(element.getAttribute("checked"));
                if (element.getAttribute("checked") == "checked") {
                    categories.push(element.value);
                }
            });

            var data = {
                GameName: gameName,
                Price: price,
                DeveloperId: developer,
                PublisherId: publisher,
                Categories: categories
            };

            $.ajax({
                url: "/editor/game/add",
                method: "post",
                data: data,
                success: (res) => {
                    alert(res);
                    location.href = "/editor/game/index";
                }
            });
        });
   
    </script>
}